<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Department of Youth Development- | যুব উন্নয়ন অধিদপ্তর-</title>

<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/responsive.css" rel="stylesheet" />

</head>

<body>

	<!--header section-->
	<div class="header-area">
		<div class="container">


			<div class="row">
				<div class="header-panel">
					<div class="col-md-12">
						<div id="slider">
							<img src="assets/img/logo.png" class="logo" alt="logo" />
							<h1 class="title">কেন্দ্রীয় মানব সম্পদ উন্নয়ন কেন্দ্র</h1>
							<div class="slides">
								<img src="assets/img/slide/1.jpg" /> <img
									src="assets/img/slide/2.jpg" /> <img
									src="assets/img/slide/3.jpg" /> <img
									src="assets/img/slide/4.jpg" /> <img
									src="assets/img/slide/5.jpg" />
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end of header section-->

	<!--menu section-->
	<div class="menu-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-menu">
						<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#menu1">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
							</div>


							<div class="collapse navbar-collapse" id="menu1">
								<ul class="nav navbar-nav">

									<li class="dropdown"><a href="/">প্রথম পাতা</a></li>

									<li class="dropdown"><a href="/mission"
										class="dropdown-toggle" data-toggle="dropdown"
										style="color: #090">আমাদের সম্পর্কে</a>
										<ul class="dropdown-menu">
											<li><a href="/history">ইতিহাস</a></li>
											<li><a href="/mission">মিশন ও ভিশন</a></li>
											<li><a href="/academy">একনজরে একাডেমী</a></li>

										</ul></li>


									<li class="dropdown"><a href="/principal"
										style="color: #F0F">অধ্যক্ষ</a></li>



									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" style="color: #F00">প্রশিক্ষণ</a>
										<ul class="dropdown-menu">
											<li><a href="/trainingac">প্রশিক্ষণ বর্ষপঞ্জি</a></li>
											<li><a href="/trainingCourse">প্রশিক্ষণ কোর্স</a></li>
											<li><a href="/trainingMathod">প্রশিক্ষণ পদ্ধতি</a></li>
											<li><a href="/ongoing">চলমান কোর্স</a></li>
											<li><a href="/complete_program">সমাপ্ত কোর্স</a></li>
										</ul></li>



									<li class="dropdown"><a href="/employees"
										class="dropdown-toggle" style="color: #00F">কর্মকর্তাবৃন্দ</a>
									</li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" style="color: #C00">প্রকল্প</a>
										<ul class="dropdown-menu">
											<li><a href="/project">প্রকল্প সমূহ</a></li>
										</ul></li>


									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" style="color: #00F">তথ্য অধিকার</a>
										<ul class="dropdown-menu">
											<li><a href="/rightInformationtoact">তথ্য অধিকার আইন</a></li>
											<li><a href="/ict_comision">তথ্য কমিশন</a></li>
										</ul></li>


									<li class="dropdown"><a href="/organizational_structure"
										class="dropdown-toggle" style="color: #090">সাংগঠনিক
											কাঠামো</a></li>



									<li class="dropdown"><a href="/opinions"
										class="dropdown-toggle" style="color: #F0F">মতামত</a></li>
								</ul>
							</div>

						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end of menu section-->

	<div class="content">
		<div class="container">
			<div class="row">


				<div class="col-md-9">

				</div>


				<div class="col-md-3">
					<div class="service-box-wrap">
						<div class="service-box">
							<h5 class="service-title">মহাপরিচালক</h5>
							<img src="assets/img/principal.jpg" alt="dg_img" /><br/> <br/>
							<h4>এইচ এম জিল্লুর রহমান</h4>
							<h5>
								অধ্যক্ষ<br/> <span>কেন্দ্রীয় মানব সম্পদ উন্নয়ন
									কেন্দ্র</span>
							</h5>

						<a href="/principal" class="details-btn">বিস্তারিত</a>
						</div>
						<div class="service-box">
							<div class="eservice">
								<h5 class="service-title">ম্যাপ</h5>

								<table width="217" height="200" border="1">
									<tr>
										<td width="117">&nbsp;</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="service-box">
							<div class="central-eservice">
								<h5 class="service-title">কেন্দ্রীয় ই-সেবা</h5>
								<ul class="services">
									<li><a href="http://www.dyd.gov.bd/" target="_blank"><i
											class="fa fa-check"></i>যুব উন্নয়ন অধিদপ্তর</a></li>

									<li><a href="http://online.forms.gov.bd/" target="_blank"><i
											class="fa fa-check"></i>অনলাইনে সেবার আবেদন</a></li>
									<li><a href="http://www.nothi.gov.bd/users/login"
										target="_blank"><i class="fa fa-check"></i>নথি</a></li>
									<li><a
										href="http://bris.lgd.gov.bd/pub/?pg=application_form"
										target="_blank"><i class="fa fa-check"></i>জন্ম ও মৃত্যু
											নিবন্ধন</a></li>
									<li><a href="http://xn--d5by7bap7cc3ici3m.xn--54b7fta0cc/"
										target="_blank"><i class="fa fa-check"></i>উত্তরাধিকার
											ক্যালকুলেটর</a></li>

									<li><a href="http://pcc.police.gov.bd/en/f?p=500:1:0"
										target="_blank"><i class="fa fa-check"></i>অনলাইন পুলিশ
											ক্লিয়ারেন্স</a></li>
									<li><a
										href="http://www.dip.gov.bd/site/page/f2d015a9-1132-4426-8eef-147f1c4bac8a"
										target="_blank"><i class="fa fa-check"></i>অনলাইনে
											পাসপোর্টের আবেদন</a></li>
									<li><a href="" target="_blank"><i class="fa fa-check"></i>জাতীয়
											পরিচয়পত্রের তথ্য হালনাগাদকরণ</a></li>
									<li><a href="http://www.nbrepayment.gov.bd/"
										target="_blank"><i class="fa fa-check"></i>অনলাইন আয়কর
											পরিশোধ</a></li>
								</ul>
							</div>
						</div>
						<div class="service-box">
							<div class="important-link">
								<h5 class="service-title">গুরুত্বপূর্ণ লিংক</h5>
								<ul class="services">
									<li><a href="http://bcsaa.elearning.gov.bd/login/auth"
										target="_blank"><i class="fa fa-check"></i>ই-লার্নিং সাইট</a></li>

									<li><a href="http://www2.mopa.gov.bd/bcsaa/"
										target="_blank"><i class="fa fa-check"></i>অনলাইন
											রেজিস্ট্রেশন</a></li>

								</ul>
								<a href="" class="details-btn">সকল লিংকসমূহ</a>
							</div>
						</div>




						<div class="service-box">
							<div class="social-media">
								<h5 class="service-title">সামাজিক যোগাযোগ</h5>
								<a href=""><i class="fa fa-facebook"></i></a> <a href=""><i
									class="fa fa-facebook"></i></a> <a href=""><i
									class="fa fa-facebook"></i></a> <a href=""><i
									class="fa fa-facebook"></i></a>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="footer-wrap">

					<div class="col-md-6">
						<div class="left-footer-section">
							<ul class="footer-menu">
								<p>জেগেছে যুব, জেগেছে দেশ , লক্ষ্য ২০৪১-এ উন্নত বাংলাদেশ</p>
							</ul>
							<p>সাইটটি শেষ হাল-নাগাদ করা হয়েছে: 04/01/2018</p>
						</div>
					</div>



					<div class="col-md-6">
						<div class="right-footer-section">
							<p>
								পরিকল্পনা ও বাস্তবায়নে: <a href=""> মন্ত্রিপরিষদ বিভাগ</a>, <a
									href="">এটুআই</a>, <a href="">বিসিসি</a> ও <a href="">বেসিস</a>
							</p>

							<p>
								কারিগরি সহায়তায়: <a href="">লেমুনুজ্জামান</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/hover-menu.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>
