<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Department of Youth Development- | যুব উন্নয়ন অধিদপ্তর-</title>

<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/responsive.css" rel="stylesheet" />

</head>

<body>

	<!--header section-->
	<div class="header-area">
		<div class="container">
			<div class="row">
				<div class="header-panel">
					<div class="col-md-12">
						<div id="slider">
							<img src="assets/img/logo.png" class="logo" alt="logo" />
							<h1 class="title">যুব উন্নয়ন অধিদপ্তর</h1>
							<div class="slides">
								<img src="assets/img/img1.jpeg" /> <img
									src="assets/img/img2.jpeg" /> <img src="assets/img/img3.jpeg" />
								<img src="assets/img/img4.jpeg" /> <img
									src="assets/img/img5.jpeg" />
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end of header section-->

	<!--menu section-->
	<div class="menu-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="main-menu">
						<nav class="navbar navbar-default" role="navigation">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle"
									data-toggle="collapse" data-target="#menu1">
									<span class="sr-only">Toggle navigation</span> <span
										class="icon-bar"></span> <span class="icon-bar"></span> <span
										class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="menu1">

								<ul class="nav navbar-nav">

									<li class="dropdown"><a href="/">প্রথম পাতা</a></li>

									<li class="dropdown"><a href="/mission"
										class="dropdown-toggle" data-toggle="dropdown"
										style="color: #090">আমাদের সম্পর্কে</a>
										<ul class="dropdown-menu">
											<li><a href="/history">ইতিহাস</a></li>
											<li><a href="/mission">মিশন ও ভিশন</a></li>
											<li><a href="/academy">একনজরে একাডেমী</a></li>

										</ul></li>


									<li class="dropdown"><a href="/principal"
										style="color: #F0F">অধ্যক্ষ</a></li>



									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" style="color: #F00">প্রশিক্ষণ</a>
										<ul class="dropdown-menu">
											<li><a href="/trainingac">প্রশিক্ষণ বর্ষপঞ্জি</a></li>
											<li><a href="/trainingCourse">প্রশিক্ষণ কোর্স</a></li>
											<li><a href="/trainingMathod">প্রশিক্ষণ পদ্ধতি</a></li>
											<li><a href="/ongoing">চলমান কোর্স</a></li>
											<li><a href="/complete_program">সমাপ্ত কোর্স</a></li>
										</ul></li>



									<li class="dropdown"><a href="/employees"
										class="dropdown-toggle" style="color: #00F">কর্মকর্তাবৃন্দ</a>
									</li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" style="color: #C00">প্রকল্প</a>
										<ul class="dropdown-menu">
											<li><a href="/project">প্রকল্প সমূহ</a></li>
										</ul></li>


									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown" style="color: #00F">তথ্য অধিকার</a>
										<ul class="dropdown-menu">
											<li><a href="/rightInformationtoact">তথ্য অধিকার আইন</a></li>
											<li><a href="/ict_comision">তথ্য কমিশন</a></li>
										</ul></li>


									<li class="dropdown"><a href="/organizational_structure"
										class="dropdown-toggle" style="color: #090">সাংগঠনিক
											কাঠামো</a></li>



									<li class="dropdown"><a href="/opinions"
										class="dropdown-toggle" style="color: #F0F">মতামত</a></li>
								</ul>
								<!-- <ul class="nav navbar-nav">
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">home </a></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">services</a>
										<ul class="dropdown-menu">
											<li><a href="#">link</a></li>
											<li><a href="#">link</a></li>
											<li><a href="#">link</a></li>
											<li><a href="#">link</a></li>
											<li><a href="#">link</a></li>
										</ul></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">blog</a>
										<ul class="dropdown-menu">
											<li><a href="#">link</a></li>
											<li><a href="#">link</a></li>
											<li><a href="#">link</a></li>
											<li><a href="#">link</a></li>
										</ul></li>
									<li class="dropdown"><a href="#" class="dropdown-toggle"
										data-toggle="dropdown">about us </a></li>
								</ul> -->
							</div>

						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end of menu section-->

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h4>নোটিশ বোর্ড</h4>
					<!--notice board-->
					<div class="all-notice-board-wrap">

						<div class="row">
							<div class="col-lg-12">
								<div class="table-responsive">
									<table class="table table-bordered table-hover table-striped">
										<thead>

											<tr>
												<td width="10"><strong> ক্র নং</strong></td>
												<td width="32"><strong> শিরোনাম </strong></td>
												<td width="8"><strong> প্রকাশিত </strong></td>
												<td width="8"><strong>পিডিফ</strong></td>
											</tr>
										</thead>
										<tbody>
											<tr th:each="notice :${allnotice}">
												<td th:text="${notice.id}">1</td>
												<td th:text="${notice.title}">2</td>
												<td th:text="${notice.date}">7</td>
												<td th:text="${notice.pdfname}">6</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>




						<!-- <i class="fa fa-check"></i> <a href="" class="notice-link">link</a><br />
						<i class="fa fa-check"></i> <a href="" class="notice-link">link</a><br />
						<i class="fa fa-check"></i> <a href="" class="notice-link">link</a><br />
						<i class="fa fa-check"></i> <a href="" class="notice-link">link</a><br />
						<i class="fa fa-check"></i> <a href="" class="notice-link">link</a><br /> -->
					</div>


				</div>


				<div class="col-md-3">
					<div class="service-box-wrap">
						<div class="service-box">
							<h5 class="service-title">মহাপরিচালক</h5>
							<img src="http://via.placeholder.com/150x150" alt="dg_img" />
							<h3>মোঃ আনোয়ার হোসেন</h3>
							<h4>
								মহাপরিচালক <br /> <span>যুব উন্নয়ন অধিদপ্তর</span>
							</h4>

						<a href="/principal" class="details-btn">বিস্তারিত</a>
						</div>
						<div class="service-box">
							<div class="eservice">
								<h5 class="service-title">আভ্যন্তরীণ ই-সেবা</h5>
								<ul class="services">
									<li><a href=""><i class="fa fa-check"></i>যুব উন্নয়ন
											অধিদপ্তরের ফেইসবুক পেইজ</a></li>
									<li><a href=""><i class="fa fa-check"></i>যুব উন্নয়ন
											অধিদপ্তরের ব্লগ</a></li>
									<li><a href=""><i class="fa fa-check"></i>তথ্য
											অবমুক্তকরণ নির্দেশিকা - ২০১৫(তথ্য অধিকার আইন)</a></li>
								</ul>
							</div>
						</div>
						<div class="service-box">
							<div class="central-eservice">
								<h5 class="service-title">কেন্দ্রীয় ই-সেবা</h5>
								<ul class="services">
									<li><a href=""><i class="fa fa-check"></i>অনলাইনে
											সেবার আবেদন</a></li>
									<li><a href=""><i class="fa fa-check"></i>link</a></li>
									<li><a href=""><i class="fa fa-check"></i>link</a></li>
									<li><a href=""><i class="fa fa-check"></i>link</a></li>
								</ul>
							</div>
						</div>
						<div class="service-box">
							<div class="important-link">
								<h5 class="service-title">গুরুত্বপূর্ণ লিংক</h5>
								<ul class="services">
									<li><a href=""><i class="fa fa-check"></i>link</a></li>
									<li><a href=""><i class="fa fa-check"></i>link</a></li>
									<li><a href=""><i class="fa fa-check"></i>link</a></li>
									<li><a href=""><i class="fa fa-check"></i>link</a></li>
								</ul>
								<a href="" class="details-btn">সকল লিংকসমূহ</a>
							</div>
						</div>
						<div class="service-box">
							<div class="easy-services">
								<h5 class="service-title">সেবা সহজিকরণ</h5>
							</div>
						</div>
						<div class="service-box">
							<div class="innovation-corner">
								<h5 class="service-title">ইনোভেশন কর্নার</h5>
							</div>
						</div>
						<div class="service-box">
							<div class="social-media">
								<h5 class="service-title">সামাজিক যোগাযোগ</h5>
								<a href=""><i class="fa fa-facebook"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="footer-wrap">
					<div class="col-md-6">
						<div class="left-footer-section">
							<ul class="footer-menu">
								<li><a href="">জেগেছে যুব, জেগেছে দেশ , লক্ষ্য ২০৪১-এ
										উন্নত বাংলাদেশ</a></li>
								<li><a href=""> সাইট ম্যাপ</a></li>
								<li><a href=""> সচরাচর প্রশ্ন</a></li>
							</ul>
							<p>সাইটটি শেষ হাল-নাগাদ করা হয়েছে:</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="right-footer-section">
							<p>
								পরিকল্পনা ও বাস্তবায়নে: <a href=""> মন্ত্রিপরিষদ বিভাগ</a>, <a
									href="">এটুআই</a>, <a href="">বিসিসি</a> ও <a href="">বেসিস</a>
							</p>

							<p>
								কারিগরি সহায়তায়: <a href=""><img src="" alt="" /></a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/hover-menu.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>
